@import "../../../utilities/variables.scss";
.step-three{
  label {
    width: 100%;
  }
  .price-contenair{
    margin-left: auto;
    font-size: 13px;
    color: $purplish-blue;
  }
  .card-input {
    padding: 15px;
    display: flex;
    gap: 20px;
    border: 1px solid $cool-gray;
    border-radius: 10px;
    margin-bottom: 15px;
    align-items: center;
    .panel-icon{
      flex-basis: 40px;
    }
    .container-text{
      display: flex;
      flex-direction: column;
    }
    .panel-heading, .panel-body{
      flex-basis: 100%;
    }
    .panel-body{
      font-weight: 400;
      font-size: 12px;
      color: $cool-gray;
    }
  }
.card-input-element{
  background-color: transparent;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid $cool-gray;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  &::before{
    content: "";
    width: 1.15em;
    height: 1.15em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: $purplish-blue;
  }
  &:checked{
    &::before{
      color: white;
      transform: scale(1);
    }
  }
}
  .card-input:hover {
    cursor: pointer;
  }

  .checked {
    border-color: $purplish-blue;
    background: $light-blue-02;
  }
  /* switch */
  /* the interesting bit */
  .grey{
    color: $cool-gray;
  }
  .yearly-offer{
    font-size: 12px;
    font-weight: 400;
    color: $marine-blue;
  }
  .label {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-blue-02;
    box-sizing: border-box;
    padding: 15px;
  }

  .switch,
  .input:not(:checked )+ .label .left,
  .input:checked + .label .right {
    pointer-events: all;
    cursor: pointer;
  }

  /* most of the stuff below is the same as the W3Schools stuff,
     but modified a bit to reflect changed HTML structure */

  .input {
    display: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $purplish-blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .label .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* styling to make it look like your screenshot */

  .left, .right {
    margin: 0 .5em;
    font-weight: bold;
    font-family: sans-serif;
  }
}